<header class="bg-dark py-5" style="background-image:url({{page.banner}}); background-position: center center;">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6" style="background-color:rgba(0,0,0,0.6) ;">
              <div class="text-center my-5" >
                  <h1 class="display-5 fw-bolder text-white mb-2">{{page.subtitle}}</h1>
                  <p class="lead text-white-50 mb-4">{{page.description}}</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <div class="row">
  <div class="col-md-6">
      <!-- Blog post-->
    <curralis-post></curralis-post>
    asdasd
  </div>
</div>
</div>


<!--div class="container m-auto">
    <div class="jumbotron m-0 rounded-3" style=" height: auto; background-image:url({{page.banner}});  background-repeat: no-repeat; background-position: center center;">
      <div class="row ">
        <div class="col m-5 p-5 rounded-3" style="background-color: rgba(0, 0, 0,0.5);">
            <h1>{{page.title}}</h1>
            <p>{{page.subtitle}}</p>
        <-++//div>        
      </div>
    </div>
    <p>{{page.description}}</p>
  </div-->
<!--div class="" style="margin: 0 auto; width: 1440px;">
    <div class="row m-0">
        <div class="col mx-auto" style="background-image:url({{page.banner}}); background-repeat: no-repeat;">
        </div>
    </div>
</div-->
{{page.title}}
{{page.subtitle}}
{{page.description}}